[Desktop Entry]
Name=Cowboy
Comment=Update Arch, AUR, and Flatpak
Exec=cosmic-term -e /usr/local/bin/cowboy
Icon=cowboy-icon.png
Terminal=true
Type=Application
Categories=System;
